# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
*.pyo
*.pyd
.Python

# Django
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
/static/

# Virtual Environment
venv/
env/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db".env"


# Secrets
.env